# Copyright (C) 2013 Jolla Oy
# Contact: Jarko Vihriälä  <jarko.vihriala@jollamobile.com>
#
# This kicks udev to mount sdcard if that's present.
 
[Unit]
Description=Mount sdcard in boot.
After=init-done.service

[Service]
Type=oneshot
Environment=ACTION=add
ExecStart=/usr/sbin/mount-sd.sh

[Install]
WantedBy=graphical.target
