SUBSYSTEM=="block", KERNEL=="mmcblk1*", ACTION=="add", MODE="0660", RUN+="/usr/sbin/mount-sd.sh"
SUBSYSTEM=="block", KERNEL=="mmcblk1*", ACTION=="remove", RUN+="/usr/sbin/mount-sd.sh"

